<!DOCTYPE html>
<html>
<head>
	<title>タイマー２号</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<!-- ref 使用するために記述するタグ -->
	<audio id="audio" ref="audio"> 
		<source src="img/alert.mp3" type="audio/mp3"> 
	</audio>
	<div id="app"> 
		<div class="content">
			<div><h1>タイマー２号</h1></div>
			<div class="dummy"></div>
				<p class ="disp" v-if="mode!=1">
					<span>
						<select name="hour" v-model="hour"
						 style="font-size: 60px; color: #8484ff; background-color: #f5c9c6; border:solid 4px #a8d3ff;">
							<option v-for="n in 24" v-bind:value="n-1" >{{n-1}}</option>
						</select >	<!--　selectにはnameをつける。値がオプション(value)-->
					</span> 
					<span>:</span>
					<span>
						<select name="minute" v-model="minute"
						 style="font-size: 60px; color: #8484ff; background-color: #f5c9c6; border:solid 4px #a8d3ff;">
							<!-- 1～60まで繰り返す　-1だと０から59になる -->
							<option v-for="n in 60" v-bind:value="n-1" >{{n-1}}</option> 	
						</select>	<!--　selectにはnameをつける。値がオプション(value)-->
					</span>
					<span>:</span>
					<span>
						<select name="second" v-model="second"
						 style="font-size: 60px; color: #8484ff; background-color: #f5c9c6; border:solid 4px #a8d3ff;">
							<option v-for="n in 60" v-bind:value="n-1" >{{n-1}}</option>
						</select>	<!--　selectにはnameをつける。値がオプション(value)-->
					</span>
				</p>
				<p class ="disp" v-if="mode==1">
					<span>{{ hour }}</span>
					<span>:</span>
					<span>{{ minute }}</span>
					<span>:</span>
					<span>{{ second }}</span>
				</p>				
				<div>
					<button @click="textStart()" id="">すたーと</button>
					<button v-if="mode==1" @click="textStop()" id="">すとっぷ</button> 	<!--　v-if HTMLのif文　JSと紐づける-->
					<button v-if="mode!=1" @click="textClear()" id="">くりあ</button>
				</div>
			<div class="dummy"></div>
		</div>
	</div>

	<!--　vue.js 導入部 -->
		<!-- promise (IEに必要) -->
		<script src="https://unpkg.com/es6-promise"></script>
		<!-- vue -->
		<script src="https://unpkg.com/vue"></script>
		<!-- http-vue-loader -->
		<script src="https://unpkg.com/http-vue-loader"></script>
		<!--　vue.js 導入部 -->
		<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>