html{
	font-family: sans-serif;
}
body {
	text-align: center;
	margin: 0;
	padding: 0;
}
.content{
	border:solid 10px #a8d3ff;
	background-color: #f5c9c6;
	max-width: 960px;
	margin: 0 auto 0 auto;
}
h1{
	margin: 0;
	padding: 20px;	
	border:double 10px #a8d3ff;
	color: #a8d3ff;
	background-color:#f5c9c6;	/* レトログリーン #f5c9c6 */
}
.dummy{
	height: 250px;
}
.disp{
	font-size: 60px;
	color: #8484ff;
	margin:30px; 
}
select{
	font-size: 60px; 
	color: #8484ff; 
	background-color: #f5c9c6; 
	border:solid 4px #a8d3ff;
}
button{
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	width: 200px;
	height: 100px;
	border-radius:50%;
	color: #8484ff;
	background-color: #ffffff;
}
		/*この条件を満たしたときに適用*/
@media (max-width: 767px){
	.content{
		margin: 0.8px;
		max-height: 650px;
	}
	.dummy{
	height: 200px;
	}
	.disp{
	font-size: 25px;
	color: #8484ff;
	margin: 0; 
	}
	button{
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	width: 130px;
	height: 60px;
	border-radius:50%;
	color: #8484ff;
	background-color: #ffffff;
	}
	select{
	font-size: 20px; 
	color: #8484ff; 
	background-color: #f5c9c6; 
	border:solid 4px #a8d3ff;
	}
	.media{
		font-size: 0;
	}
	.media1:before {
		font-size: 15px;
		content: "H";
	}
	.media2:before {
		font-size: 15px;
		content: "M";
	}
	.media3:before {
		font-size: 15px;
		content: "S";
	}
}