<!DOCTYPE html>
<html>
<head>
	<title>タイマー１号</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="app"> 
		<div class="content">
			<div><h1>タイマー１号</h1></div>
			<div class="dummy"></div>
				<p id="textdisp">
					<span>{{ minute }}</span>
					<span>:</span>
					<span>{{ second }}</span>
					<span>:</span>
					<span>{{ decimal }}</span>
				</p>
				<div>
					<button @click="textStart()" id="">すたーと</button>
					<button v-if="mode==1" @click="textStop()" id="">すとっぷ</button> 	<!--　v-if HTMLのif文　JSと紐づける-->
					<button v-if="mode!=1" @click="textClear()" id="">くりあ</button>
				</div>
			<div class="dummy"></div>
		</div>
	</div>

	<!--　vue.js 導入部 -->
		<!-- promise (IEに必要) -->
		<script src="https://unpkg.com/es6-promise"></script>
		<!-- vue -->
		<script src="https://unpkg.com/vue"></script>
		<!-- http-vue-loader -->
		<script src="https://unpkg.com/http-vue-loader"></script>
		<!--　vue.js 導入部 -->
		<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>