@charset "UTF-8";
/* CSS Document */
html,body{
	background-image:url(../img/cloud.png);
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	margin:0;
	padding:0;
	background-attachment: fixed;
	background-color:#66FFFF;
	
	width: 100%;
	height: 100%;
	
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	text-align:center;
	
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:1.0em;
	
	/*overflow:hidden;*/
	
}
.textp{
	font-size:1.0em;
	color:#999999;
	
	}

div{
	box-sizing:border-box;
}
.textCenter{
	text-align:center;
	width:70%;
	margin:10px auto;
}
.textCenter p{
	text-align:center;
	padding:15px;
}
	



@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


@keyframes fadeIn2 {
    0% {opacity: 0}
    100% {opacity: 0.6}
}

@-webkit-keyframes fadeIn2 {
    0% {opacity: 0}
    100% {opacity: 0.6}
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
    color: blue;
    background-color: #aaccff;
  }
  to {
    margin-left: 0%;
    width: 100%;
    color: black;
    background-color: white;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
}
  to {
    margin-left: 0%;
    width: 100%;

  }
}

@keyframes menuSlide {
  from {
	  top:0px;
  }
  to {
	  top:-50px;
  }
}
@-webkit-keyframes menuSlide {
  from {
	  top:0px;
  }
  to {
	  top:-50px;
  }
}

#footerBg {
	width: 100%;
	height: 65px;
	position: fixed;
	bottom: 0;
	clear: both;
	background:url(../img/town.png) repeat-x center bottom;
	z-index:0;
	opacity:0.7;


}
#footerPP {
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	clear: both;
	/*background:url(../img/peaple.png) repeat-x center bottom;*/
	z-index:1;

}
#footerPPT {
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	clear: both;
/*	background:url(../img/peaple.png) repeat-x center bottom;*/
	z-index:1;

animation-duration: 2s;  /* アニメーション時間 */
  animation-name: slidein;
}

a{
	text-decoration:none;
	color:#0000FF;
}
a:hover{
	text-decoration:underline;
	color:#00CCFF;
}

p{
	margin:0;
	padding:0;
	font-size:1.2em;
	color:#555555;
}
.menu{
	text-align:center;
	margin:0 auto;
	padding:0 auto;
	background-color:rgba(255,255,255,0);
	box-sizing:border-box;
	width:100%;

}
.navi{
	
	margin:0 auto;
	padding:0 auto;
	width:80%;
	height:50px;
	overflow:hidden;


}

.navi ul{
	display:table;
	table-layout:fixed;
	text-align:center;
	width:100%;
	padding:0;
	margin:0;
}

.navi ul li{
	list-style:none;
	display:inline;
	font-size:1.2em;
	color:#333333;
	margin:10px 0;
	padding:0;
	display:table-cell;
	height:50px;
	
}
.navi ul li a{
	display:block;
	font-weight:bold;
	margin:0;
	padding:0;
	transition:0.5s;
}

.navi ul li a:hover{
	color:#00FFFF;
	animation-delay:1.0s;
	-webkit-transform:translateY(-55px);
	-moz-transform:translateY(-55px);
	-ms-transform:translateY(-55px);
	-o-transform:translateY(-55px);
	transform:translateY(-55px);


}
.border{
	border-bottom:#33FFFF dotted thin;
	padding:15px 0;
	margin-top:10px;
	box-sizing:border-box;
}
.borderTop{
	border-top:#33FFFF dotted thin;
}

h1{
	color:#33CCFF;
	margin:0;
	padding:0;
	text-align:center;
	font-size:0.8em;
}

h3,h5{
	margin:0;
	padding:0;
	font-size:1.0em;
	color:#333333;
	
}
h4{
	margin:0;
	padding:0;
	font-size:1.2em;
	color:#000000;
	font-weight:bold;
}
h2{
	margin:0 auto;
	padding:0;
	vertical-align:bottom;
	font-size:0.6em;
	color:#0000FF;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

#logo{

	top:30%;
	left:auto;
	text-align:center;
	margin:0 auto;

	padding:0 auto;
	
}


.wrapper{
	width:100%;
	text-align:center;
	margin:0 auto;
	padding:0 auto;
	z-index:1000;
	animation: fadeIn 4s ease 0s 1 normal;
    -webkit-animation: fadeIn 4s ease 0s 1 normal;
}
.topBar{
	width:100%;
	height:70px;
}

.logoSubImg{
	height:70px;
	border:0;
	margin:0;
	padding:0;
	z-index:200;
	margin-right:15px;
}


.positionR{
	text-align:right;
	width:100%;
}
.positonL{
	text-align:left;
	width:100%;
}
.positonBottom{
	text-align:center;
	position:absolute;
	bottom:5px;
}

#contents{
	width:100%;
/*	height:65%;*/
	margin:0 auto;
	padding:0 auto;
	border:double;
	border-color:#0066FF;
	background-color:rgba(255,255,255,0.5);
	display:table;
	z-index:300;
	animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
	position:relative;
}






.subContent {
	width: 75%;

	padding:20px;
	margin:20px auto;
/*	float: left;*/
/*	position: absolute;*/
/*	left: 20%;*/
	z-index:500;
	background-color:rgba(255,255,255,0.2);
	border:solid 2px #0033FF;
	display:table-cell;
	text-align:center;
	vertical-align:top;
	
}
.subContent p {
	margin:0;
	padding:0;
	font-size:1.0em;
	text-align:left;
}
.subContent img{
	margin:0;
	padding:0;
	text-align:left;
	width:70%;
}

.subMenu{
	display:table-cell;
	width:25%;
	margin:0;
	padding:0;
	box-sizing:border-box;
	vertical-align:top;
}
.subMenu ul{
	list-style:none;
	padding:0;
	margin:20px auto;
	width:100%;
}
.subMenu ul li{
	height:50px;
	overflow:hidden;
	margin:0;
	padding:0;
}
.subMenu ul li a{
	display:block;
	transition:0.5s;
}

.subMenu ul li a:hover{
	color:#00FFFF;
	-webkit-transform:translateY(-55px);
	-moz-transform:translateY(-55px);
	-ms-transform:translateY(-55px);
	-o-transform:translateY(-55px);
	transform:translateY(-55px);
}

.textLeft{
	text-align:left;
	width:65%;
	margin:0 auto;
	padding:0;
}





.redBold{
	color:#000000;
	font-weight:bolder;
}

.mailForm{
	text-align:center;
}

.mailForm p{
	text-align:center;
}

input{
	width:60%;
}
textarea{
	width:60%;
}
.none{
	display:none;
}
.visible{
	display:block;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.menu-btn span {
    color: #fff;
}

.menu-btn span:after {
    content: attr(data-txt-menu);
}

/* 開閉用ボタンがクリックされた時のスタイル */
.open .menu-btn span:after {
    content: attr(data-txt-close);
}


/*
.menu2 {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
}*/

}


/* 開閉用ボタンがクリックされた時のスタイル */
.open .menu2 {
    cursor: /*url(../images/cross.svg)*/auto;
    -webkit-transition: all .5s;
    transition: all .5s;
    visibility: visible;
    opacity: 1;
}

.spMenu{
	width:100%;
	height:100%;
	opacity:1.0;
	margin:0;
	padding:10px 0;	

	position: absolute;
	
	text-align:left;
	z-index:9999;
	background-color:#009;
	
	font-size:1.5em;
	font-weight:bolder;
	box-sizing:border-box;
	

	
}
.spMenu ul{
	list-style:none;
	padding:10px 0;
	margin:0;
	width:100%;
	opacity:1.0;
	background-color:#0099FF;
	border:solid #999999;
	box-sizing:border-box;
}

.spMenu ul li a{
	color:#66FFFF;
	display:block;
	padding:10px auto;
	line-height:50px;
	margin:0;
	width:100%;
	border-bottom:dashed;
	
}
.spMenu ul li a:hover{
	color:#FFFF33;
}

#spVisible{
	visibility:visible;
		animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
#spHidden{
	visibility:hidden;
	animation: fadeOut 2s ease 0s 1 normal;
    -webkit-animation: fadeOut 2s ease 0s 1 normal;
}

#spMainMenu{
	visibility:hidden;
	}

	

@keyframes fadeOut {
    0% {opacity: 0.7}
    100% {opacity: 0}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 0.7}
    100% {opacity: 0}
}
.flowImg{
	
	width:300px;
	margin:0 auto;
	padding:0;
}





/*reSponSIve for PC*/
@media screen and (min-width: 1101px){
	.pcNone{
		display:none;
	}
	.pcVisible{
		display:block;
	}
	.logoImg{
	width:30%;
	border:0 auto;
	margin:0 auto;
	margin-top:100px;
	padding:0;
}
.mapGoogle{
	width:80%;
	height:400px;
	margin:5px;
	
}
.subTitle{
	height:20px;
	border:0;
	margin:0;
	padding:0;
	padding-left:30px;
	width:60%;
	background-color:rgba(255,255,153,0.8);
}
.subTitle p{
	margin:0;
	padding:0;
	font-size:15px;
	text-shadow: 1px 1px 0px #03F,
             	-1px 1px 0px #03F,
             	1px -1px 0px #03F,
             	-1px -1px 0px #03F;
				color:#FFFFFF;
				font-weight:bold;
				
	
}
.contentWrapper{
	width:70%;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
}

.subContentWrapper{
	width:70%;
	margin:0 auto;
	padding:0 auto;
	text-align:left;
}

hr{
	width:80%;
	color:#0033FF;
}


.boxText{
	border:#009;
	border-radius:10px;
	border-style:solid;
	width:70%;
	padding:5px 10px;
	margin:10px auto;
	text-align:left;
	font-size:1.3em;
	font-weight:bold;
}

}

/* RESPONSIVVE FOR SP */
@media screen and (max-width: 1100px){
.spNone{
	display:none;
}
.spBlock{
	display:block;
}
.mapGoogle{
	width:90%;
	height:400px;
	margin:5px;
	
}


.subTitle{
	height:30px;
	border:0;
	margin:0;
	padding:0;
	padding-left:10px;
	width:100%;
	background-color:rgba(255,255,153,0.8);
}
.subTitle p{
	margin:0;
	padding:0;
	text-shadow: 1px 1px 0px #03F,
             	-1px 1px 0px #03F,
             	1px -1px 0px #03F,
             	-1px -1px 0px #03F;
				color:#FFFFFF;
				font-weight:bold;
				
	
}

.btn{
    display: inline-block;
    text-decoration: none;
    background:#0099FF;
    color: #FFF;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;
	font-size:1.5em;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
	margin-top:20px;
	margin-bottom:30px;
	z-index:999;
	position:relative;
}

.btn:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}
.btn img{
	width:60%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.btn2{
    display: inline-block;
    text-decoration: none;
    background:#0099FF;
    color: #FFF;
    width: 55px;
    height: 55px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;
	font-size:1.5em;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
	z-index:999;
	position:absolute;
	left:10px;
	top:10px;
}

.btn2:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}
.btn2 img{
	width:80%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

	
.logoImg{
	width:300px;
	border:0 auto;
	margin:0 auto;
	margin-top:100px;
	padding:0;
}
.menuVisible{
	height:100%;
	width:100%;
	background-color:rgba(153,153,153,0.8);
	font-size:1.3em;
	font-weight:bold;
	z-index:9999;
}
.contentWrapper{
	width:100%;
	margin:0 auto;
	padding:0 auto;
	text-align:center;
}

.subContentWrapper{
	width:70%;
	margin:0 auto;
	padding:0 auto;
	text-align:left;
}

hr{
	width:90%;
	color:#0033FF;
}
.boxText{
	border:#009;
	border-radius:10px;
	border-style:solid;
	width:100%;
	padding:10px 10px;
	margin:0 auto;
	text-align:left;
	font-size:1.2em;
	font-weight:bold;
	box-sizing:border-box;
}

}




